body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: default;
}

.box {
    width: 30%;
}

.box, .button, .container, .slider {
    float:left;
    box-sizing: border-box;
}

.button {
    width: 50%;
}

.container {
    width: 100%;
    padding: 40px;
}

h1, h3 {
    text-align: center;
    padding: 20px;
    margin: 0;
}

h4 {
    padding: 10px 10px 10px 0px;
    margin: 0;
}

input[type="button"], input[type="number"], input[type="range"] {
    width: 80%;
    display:block;
}

input[type="number"], #reset {
    float:right;
}

input[type="range"], #submit {
    float:left;
}

.slider {
    width: 70%;
}